body {
    font-family: Arial, sans-serif;
    background-color: #004225;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #444;
    margin: 20px 0;
    font-size: 2.5em;
    color:#E6E6FA;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.item {
    background-color: #006A4E;
    border: 9px solid #50C878;
    border-radius: 8px;
    margin: 10px 0;
    padding: 15px;
    width: 80%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.item div:first-child {
    flex: 1;
}

.item h2 {
    margin: 0;
    font-size: 1.5em;
    color: #E6E6FA;
}

.item p {
    margin: 5px 0;
    color: #FDFFFF;
}

.price {
    font-size: 1.5em;
    font-weight: bold;
    color: #3F9B0B;
}
